.config/nvim/lazy-lock.json
.config/tmux/plugins/**
.oh-my-zsh/custom/**

!.oh-my-zsh/custom/example.zsh
!.oh-my-zsh/custom/**/example.zsh
!.oh-my-zsh/custom/aliases.zsh

.config/thefuck/__pycache__/*
.config/github-copilot
